{
	"version" : "1.18",
	"changelog" : "
===== 1.18 =====
-New tech to allow Arachne to properly crawl on walls and ceilings
-Killing an organic enemy after webbing them now drops a Webbed Corpse, which can be eaten or used to make spiderlings
-Updated lamps to have better looking lights
-Added ceiling lamp and wall lamp, redid the beanbag as well (and added two more colours) (credit to Catrey)
-Added new web objects (credit to Catrey)
-Redid flag design
-New Silk Placer to place silk as a material mod
-More object descriptions
-Tweaked pixel value of certain items
-Finally fixed the hitbox code! Still disabled by default. There's an addon mod to enable it.
-Tweaked Frozen set defense
-Fixed wire point of ship hatch 
===== 1.17 =====
-Fixed tiers (and damage) of Warpweaver and the Spidersword
-Added silk currency to replace crafting silk with plant fibre
--Changed recipes to match this
-Made use of Ztarbound/FU's fancy update screen
-Changed up the spiderling eggs
-Updated Arachne Glass to look better
-New (but still placeholder) ship
-Fixed some issues in armour icons
-Added conversion for dark disguise set (chest and legs)

===== 1.16 =====
-Added new broadsword, the Warpweaver. Replaces the previous tier 6 broadsword, which has been moved to tier 5.
-Added grey skin tones
-Fixed the doors being broke
-Added a blank back item

===== 1.15b =====
-Tweaked colour palette of objects, redid egg bed sprite
-Added armour conversion for protectorate uniform.
-Added an intangible silk block (Basically for decoration, you can walk through it even if placed in foreground)
-One-wide hitbox is now default. If you are using the previous addon, nothing will change for you. As well, there is a new addon if you want the wider hitbox, linked in description.
-Some more object descriptions (Some of biome objects)
-Other undocumented changes because I don't remember everything I did.

===== 1.11 =====
-All melee weapons updated to fit the starbound style
-More object descriptions added, courtesy of Ren. (Avian objects) 

===== 1.10.6 =====
-Fixes emotes file 

===== 1.10.5 =====
-Fixed image position of ship boosters
-Tweaked hairs and armours to make eyes more visible 

===== 1.10 =====
-Added 3 new blocks: Packed Silk Block, Silk Block, and Arachne Glass. All three are unlocked by the silk bar.
-Minor tweak to eyes and fixed emotes.
-Fixed capitalization in silk bar's name (Silk bar to Silk Bar).
-Fixed silk bar being in the wrong inventory bag (any in your inventory just need to be dropped and picked up again to fix). 

===== 1.9 =====
-Added more exoskeleton colours.
-Changed/fixed dagger unlock progression to follow the same model as the spears.
-Fixed daggers making enemies invulnerable for non-FU users
-Changed colour of Arachne lights to be less terrible
-Changed eye design 

===== 1.8.5 =====
-Added Arachne Mannequin. Recipe unlocked by picking up webloom, for now. Crafted the same as the normal mannequin. 

===== 1.8 =====
-Added new tiered daggers. Unlocked by (and crafted in) the webloom. 

===== 1.7 =====
-Fixed flickering flag as well as giving it a new sprite.
-Updated hitbox so dropping through a 3-wide platform is more viable.
-Added new Spider Launcher shotgun:
--Tier 4 Shotgun, unlocked by picking up the web loom. Alt-fire shoots a projectile that spawns friendly spiders to attack your enemies. 

===== 1.6d =====
-Attempted fix to shipworld errors on servers
-Fixed boosters to not overwrite boosters for other races 

===== 1.6c =====
-Rework to body sprite
-Armour's updated to match new body sprite
-Hitbox changed to 3 blocks wide
-Some recipes fixed

===== 1.6b =====
-Added Arachne Descriptions for:
--Apex objects
--Ancient objects
--Some alpaca objects.
-Fixed mech deploy animation.

===== 1.6a =====
-Added Arachne object descriptions for:
--Intro mission
--Crops
--Crafting stations
--Outpost

===== 1.5.6 =====
-Fixed error from spiderling eggs
-Fixed compatibility error to do with ship pet 

===== 1.5.5 =====
-Arachne now keep spiders as pets. Peculiar.

-Added new tech [arachnewalljump] to address the issues with the Wall Jump tech. Picking up or crafting the webloom should give you the recipe for the item needed to unlock the tech. 

===== 1.5.3 =====
-Changed balance of spears and widowmaker
-Fixed spiderling egg recipes not being given on picking up webloom
-Fixed some recipes not showing up 

===== 1.5.1 =====
-Fixed spideregg recipe

===== 1.5 =====
-Added Arachne Broadsword
-Added wall rugs (basically banners) in two sizes and three colours
-Added beanbag chair
-Added Widowmaker revolver
-Added Spiderling Eggs
-Added merchant npctype for Arachne
-Added Web Bomb
-Changed hurt sound

===== 1.4.6 =====
-Added tiered spears for Arachne - craftable in the webloom.
-Added Arachne Platform.
-Changed all blocks' recipes to use silk bars. 

===== 1.4.5 =====
-Experimental test of tenants/crew. Please give feedback on how well they work.
-Fixed sprite error in male walk cycle.
-Fixed Nova set crafting recipe. 

===== 1.4.1 =====
-Changed main body to a better version.
-Changed a crafting recipe.
-Added tiered armor.
-Added two throwables that slow down enemies.
-Added web loom crafting station.
-Added silk bar crafting item.
-Fixed rubber hair

===== 1.3.1 =====
-Small fix to do with distortion spheres and chairs. 

===== 1.3 =====
-You no longer float above the ground when using distortion spheres.

===== 1.2.7 =====
-Added two new blocks: Arachne Beam (arachnebeamitem) and Arachne Girder (arachnegirderitem),
-Both can be crafted and are now default blocks for the ship background.

===== 1.2.5 =====
-Added two leg cosmetic items: Body markings. Both are craftable and also selectable in character creation.
-Web rope now affected by gravity. 

===== 1.2.1 =====
-Boosted max health

===== 1.2 =====
-Added recipes for items as well as a craftable web rope.
-Jump height fixed - was not intended to be that high.

===== 1.1 =====
-Now you won't crash when generating the ship.

===== 1.0 =====
Initial release!
",
	"welcome" : "
This mod adds a race - the Arachne; half-spider, half-human - as well as content for said race.
",
	"credits" : "
> Meme Trash: Some assets in the mod
> Antyrus: Original mod. I got permission from him to revive it.
> Ren: Race history and object descriptions.
> Simian(at slightlysimian.tumblr.com) for drawn images on the mod page.
",
	"info" : "
There is an add-on (linked in the description on the mod page) to make Arachne have a larger hitbox.
Some issues may come out of it, namely with distortion spheres. You have been warned.
"
}